body {
    font-family: 'Poppins';
    text-align: center;
    background-color: #f5f5dc; /* Beige background */
}

h1, h2, h3 {
    font-family: 'Poppins';
    font-weight: 300;
    line-height: 1.5;
    color: #4a4a4a; /* Darker gray for contrast */
}

p {
    color: #4a4a4a; /* Darker gray for contrast */
}

.container-fluid {
    padding: 3% 3%;
}

/* Sections */
.white-container {
    background-color: #fffaf0; /* Floral White */
    color: #4a4a4a; /* Darker gray for contrast */
    border-radius: 70px;
}

.colored-container, .projects-container {
    background-color: #f5f5dc; /* Beige background */
    color: #4a4a4a; /* Darker gray text */
}

/* Home Container */
#title {
    background-color: #e4d7c5; /* A light beige */
    text-align: left;
}

.home-header {
    font-size: 7rem;
    color: #4a4a4a; /* Darker gray for contrast */
    padding-top: 25%;
}

/* Navigation Bar */
.navbar {
    background-color: #e4d7c5; /* A light beige */
    color: #4a4a4a; /* Darker gray text */
}

.nav-item a {
    color: #4a4a4a; /* Darker gray text */
}

.nav-item a:hover {
    color: #333333; /* Even darker gray on hover */
}

.nav-item a:after {
    background: #8b7d6b; /* Taupe for underline */
}

/* Download Buttons, Image, Responsive sections remain mostly unchanged but may require tweaks in color */

/* Features */
.features-header, .features-desc, .features-title {
    color: #4a4a4a; /* Darker gray for contrast */
}

.underline, .underline-name, .underlineDescription-other {
    text-decoration-color: #d2b48c; /* Tan color for underlines */
}

.btn-custom-color {
    background-color: #d2b48c; /* Tan color */
    color: #fff; /* White text */
}

/* Projects */
.card, .card-header, .card-body {
    background-color: #fffaf0; /* Floral White */
}

.card-header, .card-body, .projects-title, .project-subHeadings {
    color: #4a4a4a; /* Darker gray for text */
}

/* Footer and other sections should be reviewed to ensure consistent use of the beige color palette */
